<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebPackageV_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WebPackageV_1.Properties.Settings.ArkadasWebSiteConnectionString"
            connectionString="Data Source=Arkmes;Initial Catalog=ArkadasWebSite;Persist Security Info=True;User ID=WebAdmin;Password=!ConAdmin"
            providerName="System.Data.SqlClient" />
        <add name="WebPackageV_1.Properties.Settings.MarketPlaceConnectionString"
            connectionString="Data Source=arkmes;Initial Catalog=MarketPlace;User ID=WebAdmin;Password=!ConAdmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <WebPackageV_1.Properties.Settings>
            <setting name="WebPackageV_1_PTTServiceTest_Sorgu" serializeAs="String">
                <value>https://pttws.ptt.gov.tr/PttVeriYuklemeTest/services/Sorgu*</value>
            </setting>
            <setting name="WebPackageV_1_PTTServiceBilgi_Sorgu" serializeAs="String">
                <value>https://pttws.ptt.gov.tr/PttBilgi/services/Sorgu*</value>
            </setting>
            <setting name="WebPackageV_1_PTTGonderiTakipTest_Sorgu" serializeAs="String">
                <value>https://pttws.ptt.gov.tr/GonderiTakipV2Test/services/Sorgu*</value>
            </setting>
            <setting name="WebPackageV_1_PTTGonderiHareketTest_Sorgu" serializeAs="String">
                <value>https://pttws.ptt.gov.tr/GonderiHareketV2Test/services/Sorgu*</value>
            </setting>
            <setting name="WebPackageV_1_PTTService_Sorgu" serializeAs="String">
                <value>http://pttws.ptt.gov.tr/PttVeriYukleme/services/Sorgu.SorguHttpSoap11Endpoint/</value>
            </setting>
            <setting name="WebPackageV_1_PTTGonderiTakip_Sorgu" serializeAs="String">
                <value>https://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu*</value>
            </setting>
            <setting name="WebPackageV_1_YurticiKargoCanli_KOPSWebServices"
                serializeAs="String">
                <value>https://webservices.yurticikargo.com/KOPSWebServices/ShippingOrderDispatcherServices</value>
            </setting>
            <setting name="WebPackageV_1_arascargoservice_Service" serializeAs="String">
                <value>https://customerws.araskargo.com.tr/arascargoservice.asmx</value>
            </setting>
            <setting name="WebPackageV_1_arascargoservicetest_Service" serializeAs="String">
                <value>https://customerservicestest.araskargo.com.tr/arascargoservice/arascargoservice.asmx</value>
            </setting>
            <setting name="WebPackageV_1_arascustomerservices_ArasCargoIntegrationService"
                serializeAs="String">
                <value>http://customerservices.araskargo.com.tr/ArasCargoCustomerIntegrationService/ArasCargoIntegrationService.svc</value>
            </setting>
        </WebPackageV_1.Properties.Settings>
    </applicationSettings>
</configuration>
